.product-main {
  margin: 0 20px;
  width: 100%;
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 24px;
  align-self: flex-start;
}
.product-main .image-container {
  width: 100%;
  height: 196px;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-main .options-row {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 12px;
}
.product-main .option {
  height: 44px;
  width: 44px;
  margin: 0 4px;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px transparent;
}
.product-main .option.selected {
  border: solid 1px #6097bf;
}

.product-main .subtitle {
  color: #6097bf;
  text-align: center;
  font-size: 16px;
  margin: 8px 0 12px;
}

.product-main .header-line {
  display: flex;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  justify-content: center;
}
.product-main .title {
  color: #000;
}
.product-main .price {
  direction: rtl;
}
.product-main .separator {
  margin: 0 8px;
}
.product-main .text {
  min-height: 40px;
  font-size: 14px;
  text-align: center;
  color: #6097bf;
  margin: 12px 20px;
  overflow: hidden;
}

.quantity-line {
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.product-main .quantity-text {
  direction: rtl;
}
.product-main .quantity-input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.product-main .quantity-button {
  width: 12px;
  margin: 0 4px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.product-main.quantity-num {
}

.submit-container {
  display: flex;
  justify-content: center;
  margin: 8px 0 16px;
}
@media only screen and (max-width: 767px) {
  .product-main {
    align-self: initial;
  }
}
@media only screen and (max-width: 767px) {
  .product-main .subtitle,
  .product-main .text,
  .product-main .header-line,
  .submit-container .submit-btn {
    font-size: 26px;
  }
}
