.profile-creation-box input {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.profile-creation-box h1 {
  font-size: 28px;
  /* margin-bottom: 1.5rem; */
  margin: 0;
}
.profile {
  display: flex;
}

.profileRight {
  flex: 9;
}

.profileCover {
  height: 320px;
  position: relative;
}
.middle-axis-btn {
  height: 60px;
  width: 60px;
  background-color: #abc9db;
  border: 1px solid #fff;
  border-radius: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  transition: ease-in-out 500ms;
}
.middle-axis-btn:hover {
  border: 1px solid #abc9db;
  background-color: #fff;
  color: #abc9db;
}
.middle-axis-btn:hover .line-1 {
  width: 25px;
  border: 1px solid #abc9db;
}
.middle-axis-btn:hover .line-2 {
  width: 25px;
  border: 1px solid #abc9db;
}
.middle-axis-btn .line-1 {
  width: 25px;
  border: 1px solid #fff;
}
.middle-axis-btn .line-2 {
  width: 25px;
  border: 1px solid #fff;
}
.profileCoverImg {
  width: 102%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .homeContainer {
    display: grid;
    max-width: 400px;
  }

  .feed {
    max-width: 405px;
    margin-top: 10px;
  }
  .sidebar {
    height: auto;
  }
  .sidebarFriendList {
    display: none;
  }
  .sidebarWrapper {
    display: none;
  }
  .rightbarWrapper {
    display: none;
  }

  .shareWrapper {
    padding: 2px;
  }
}

.user-main {
  background-color: #f5fcff;
  color: #6097bf;
  padding-top: 5rem;
  min-height: 25vh;
}

.user-description {
  width: 45%;
  width: 66%;
  font-size: 20px;
  padding-bottom: 5rem;
}
.user-name {
  font-size: 28px;
}

.profiles-container {
  background-color: #dcecf4;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  color: #6097bf;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.profiles-title {
  margin-top: 2rem;
}
.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin: 0rem;
}
.profile-creation-gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  margin: 0rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.admins-list {
  background-color: #abc9db;
  width: 50%;
  text-decoration: none;
  color: #6097bf;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

.profile-name {
  color: #6097bf;
  font-size: 18px;
}
.profiles {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.profile-creation {
  color: #6097bf;
  background-color: #dcecf4;
  display: flex;
  justify-content: center;
}

.loginLeft,
.loginRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-style: normal;
  font-weight: normal;
  font-size: 100px !important;
  line-height: 136px !important;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6097bf !important;
}

.RegBox {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 80px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 35px !important;
  padding-left: 20px;
  margin: 2px;
  margin-top: 4%;
}
.profile-creation-description {
  height: 153px !important;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 18px;
  width: 90%;
  margin-top: 0.5rem;
  border: none;
  overflow: auto;
  outline: none;
  color: #abc9db;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 1%;
  resize: none; /*remove the resize handle on the bottom right*/
}
.profile-creation-description::placeholder {
  color: #abc9db;
}
.loginInput:focus {
  outline: none;
}
.popup-modal {
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  color: #6097bf;
  width: 50vw;
}
.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin: 2px;
}

.loginForgot {
  text-align: center;
  color: #1775ee;
}

.loginRegisterButton {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.profile-example-btn {
  background: #fff;
  /* padding-top: 0.5rem; */
  padding: 0.7rem 2rem;
  border-radius: 5px;
  font-size: 16px;
  font-size: 18px;
  font-weight: 600;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.profile-example-btn:hover {
  background: #6097bf;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .login {
    flex-direction: row;
  }

  .loginLeft,
  .loginRight {
    align-items: center;
  }
  .loginDesc {
    text-align: center;
    margin-bottom: 10px;
  }
}
.profile-create-about-container {
  margin-bottom: 75px;
  text-align: center;
}
.center-text {
  text-align: center;
}
.radio-input-container-profile {
  background: #fff;
  margin: 0 1rem 0 1rem;
  width: 40px;
  color: #6097bf;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 40px;
  font-size: 25px;
  padding: 0 3px;
}
.radio-container {
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.radio-input-container {
  margin: 0 2rem 0 2rem;
}
.profile-creation-names-container {
  display: flex;
  justify-content: space-evenly;
}
.icons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: -65px;
}
.loginBox {
  height: auto;
}
.profile-creation-box {
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  direction: rtl;
  padding-bottom: 70px;
}
.add-profile-images {
  display: flex;
  justify-content: space-evenly;
}
.profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6097bf;
  margin-top: 40px;
}
.profile-image-container p {
  margin-top: 2rem;
}
input::placeholder {
  color: #abc9db;
}

.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  width: 95% !important;
  height: 153px !important;
}
.create-profile-container {
  background-color: #f0f2f5;
  color: #6097bf;
}
.radio {
  display: none;
}
.input-label {
  background: #ffffff;
  border-radius: 10px;
  color: #abc9db;
  padding: 0.5rem;
  font-size: 20px;
}
.active {
  color: #6097bf;
  background-color: #6097bf;
}
.location-semicontainer {
  width: 100%;
}
.media-upload-button {
  /* background-color: #1775ee; */
  width: 160px;
  margin-bottom: 1.5rem;
  /* color: #000; */
  /* z-index: 1000; */
}
.media-upload-button-container {
  text-align: center;
}
.add-btn {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 40px;
  cursor: pointer;
  transition-duration: 500ms;
}
.add-btn-middle {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #6097bf;
  border-radius: 100%;
  margin-top: 40px;
  cursor: pointer;
  transition: 500ms ease-in-out;
}
.add-btn-middle:hover {
  background: #ffff;
  color: #abc9db;
}
.add-btn:hover {
  background: #abc9db;
  color: #ffffff;
}
.add-btn:hover .inner-btn .line-1 {
  border: 1px solid #fff !important;
}
.add-btn:hover .inner-btn .line-2 {
  border: 1px solid #fff !important;
}
.inner-btn {
  display: flex;
  position: absolute;
  justify-content: center;
}
.line-1 {
  position: absolute;
  width: 45px;
  height: 0px;
  border: 1px solid #abc9db;
  transform: rotate(90deg);
}
.line-2 {
  position: absolute;
  width: 45px;
  height: 0px;
  border: 1px solid #abc9db;
}
.line-1-middle {
  position: absolute;
  width: 25px;
  height: 0px;
  border: 1px solid #abc9db;
  transform: rotate(90deg);
}
.line-2-middle {
  position: absolute;
  width: 25px;
  height: 0px;
  border: 1px solid #abc9db;
}
.inner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.delete-btn {
  font-size: 25px;
  color: #6097bf;
  font-weight: 600;
  margin-right: 10px;
}
.axis-input {
  height: 35px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 18px;
  padding-left: 20px;
  margin: 2px;
  width: 20%;
}
.axis-input-image {
  display: none;
}
.file-label {
  width: 100px;
  height: 30px;
  background: #fff;
  border-radius: 15px;
  margin-right: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #abc9db;
  cursor: pointer;
  transition: ease-in-out 500ms;
}
.file-label:hover {
  background: #abc9db;
  color: #ffffff;
}
.file-label:active {
  background: green;
  color: #ffffff;
}
.axis-description {
  height: 80px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 18px;
  padding-left: 20px;
  margin: 2px;
  width: 30%;
  line-height: 1;
  padding: 0 !important;
}
.create-btn {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #fff;
  color: #6097bf;
  cursor: pointer;
  width: 185px;
  height: 45px;
  margin: auto;
  margin-top: 90px;
  background: #ffffff;
  border-radius: 10px;
  font-size: 28px;
  font-weight: 600;
  transition-duration: 500ms;
  align-items: center;
  justify-content: center;
}
.create-btn:hover {
  color: #ffffff;
  border: 1px solid #6097bf;
}

.submitted {
  color: #ffffff;
  background: #6097bf;
}
.create-btn:hover {
  background: #ffffff;
  color: #6097bf;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-cover::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'הוסף תמונת פרופיל + ';
  display: inline-block;
  /* border: 1px solid #999; */
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
}
.custom-file-grave::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-grave-cover::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-grave::before {
  content: 'הוסף תמונה של הקבר + ';
  display: inline-block;
  /* border: 1px solid #999; */
  border-radius: 3px;
  padding: 5px 45px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}
#profilePic::-webkit-file-upload-button {
  visibility: hidden;
}
#profilePic.with-text::before {
  content: '+ הוסף תמונות לגלריה';
  display: inline-block;
  /* border: 1px solid #999; */
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 18px;
}

#memoryVideo::-webkit-file-upload-button {
  visibility: hidden;
}
#memoryVideo.with-text::before {
  content: '+ הוסף תמונות לגלריה';
  display: inline-block;
  /* border: 1px solid #999; */
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input-cover::before {
  content: 'הוסף תמונת קאבר + ';
  display: inline-block;
  /* border: 1px solid #999; */
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
}
.custom-file-input-cover {
  width: 200px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.custom-file-input {
  width: 200px;
}
.d-none {
  display: none;
}
.birth-date-container {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 0.5rem;
}
.axis-details {
  font-weight: 600;
  text-align: right;
  margin-top: 10px;
}
.press-explain-container {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: auto;
  margin-bottom: 40px;
}
.organisation-name {
  margin-top: 45px;
  width: 100%;
}
@media screen and (max-width: 1050px) {
  .organisation-name {
    margin: auto;
    width: 90%;
  }
}
.press-change-container {
  display: flex;
  align-items: center;
  align-content: space-between;
}
.press-change-1 {
  margin-right: 37%;
  font-size: 18px;
}
.press-change-2 {
  margin-right: 21%;
  font-size: 18px;
}
.press-explain-container {
  display: flex;
}
.press-explain-1 {
  margin-left: 25%;
  font-size: 18px;
  direction: rtl;
  color: #abc9db;
}
.press-explain-2 {
  font-size: 18px;
  margin-left: 33%;
  direction: rtl;
  color: #abc9db;
}
.press-explain-3 {
  font-size: 18px;
  direction: rtl;
  width: 100%;
  color: #abc9db;
  display: flex;
  justify-content: flex-end;
  margin-left: 46%;
}
.press-explain-4 {
  font-size: 18px;
  direction: rtl;
  color: #abc9db;
  display: flex;
  margin-right: 45%;
  margin-top: 10px;
}

.grave-location-img {
  width: 100%;
  height: 100%;
}
.life-axis-img {
  width: 100%;
  height: 100%;
}
.page_title {
  font-size: 60px;
  padding-right: 160px;
}
.back_button {
  cursor: pointer;
  padding-right: 115px;
}

@media screen and (max-width: 768px) {
  .regular_profile_creation .profile-images {
    width: 100%;
    margin: auto;
    padding-right: 0;
    padding-left: 0;
    justify-content: space-around;
  }

  .page_title {
    font-size: 50px;
    padding: 0 50px;
  }
  .back_button {
    cursor: pointer;
    padding-right: 0;
  }
}
@media screen and (max-width: 576px) {
  .regular_profile_creation .profile-image {
    width: 120px;
    height: 120px;
  }
  .regular_profile_creation .custom-file-input-cover,
  .regular_profile_creation .custom-file-input,
  .regular_profile_creation .custom-file-grave {
    width: 180px !important;
  }
  .regular_profile_creation .custom-file-input-cover::before,
  .regular_profile_creation .custom-file-input::before,
  .regular_profile_creation .custom-file-grave::before {
    font-size: 20px;
  }
  .regular_profile_creation .birth-date-container {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-around;
  }
  .regular_profile_creation .profile-creation-box input {
    font-size: 18px;
  }
  .regular_profile_creation .nameInput {
    padding-left: 0;
  }
  .regular_profile_creation .axis-description {
    width: 100px;
    padding: 0;
  }
  .regular_profile_creation .file-label {
    margin-right: 0;
    margin-left: 0;
  }
  .regular_profile_creation .delete-btn {
    font-size: 18px;
  }
  .regular_profile_creation .profile-creation-names-container {
    flex-wrap: wrap;
  }
  .google_input {
    margin: auto;
  }
}
.memory-text-description {
  background-color: #dcecf4;
  color: #6097bf;
  font-size: 22px;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.8;
  filter: invert(0.8);
  /* filter: saturate(50%); */
}

/* input[type='date']::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
} */
.axis-delete-button {
  font-size: 15px;
}
