.register-contact {
  text-align: center;
  direction: rtl;
  border-radius: 5px;
  font-size: 25px !important;
  padding-left: 20px;
  margin: 2px;
  margin-top: 5%;
  font-weight: 600;
  /* width: 600px; */
  background-color: #fff;
  padding-top: 1px;
  padding-bottom: 1px;
  border: none;
  resize: none;
  width: 100%;
}

#free-text {
  padding-top: 38px;
  padding-bottom: 0;
}
.contact-send {
  text-align: center;
  direction: rtl;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 25px !important;
  padding: 0 20px;
  margin: 2px;
  margin-top: 50px;
  height: 50px;
  font-weight: 600;
  /* width: 600px; */
  background-color: #6097bf;
  color: #fff;
  transition: ease-in-out 500ms;
}
.contact-send:hover {
  background-color: #fff;
  color: #6097bf;
}
.arrow {
  transform: rotate(180deg);
  margin: 5px;
}
.contact-title {
  padding-bottom: 30px;
  font-size: 70px !important;
  margin-top: 75px;
  text-align: center;
  letter-spacing: 3px;
  color: #6097bf !important;
}
.contact-container {
  background: #dcecf4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-contact::placeholder {
  color: #6097bf;
}
.register-textarea {
  color: #6097bf;
}
.register-textarea:focus {
  border: none;
  outline: none;
}
/* .register-textarea::-moz-placeholder {
  line-height: 70px;
}
.register-textarea::-webkit-input-placeholder {
  line-height: 70px;
}
.register-textarea:-ms-input-placeholder {
  line-height: 70px;
} */
